@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	font-family: Barlow, Fraunces;
	font-size: 15px;
}
.page-container {
	min-height: 100%;
	width: 100%;
	background-color: bisque;
	display: grid;
	grid-template:
		"nav nav" 60px
		"header header" 60vh
		"egg egg" auto
		"egg-info egg-info" 50vh
		"pink pink" auto
		"pink-info pink-info" 50vh
		"cherry cherry" 65vh
		"orange orange" 65vh
		"testimonials testimonials" auto
		"milk sliced-orange" auto
		"ice-cream sugar" auto
		"footer footer" 300px / 1fr 1fr;
}

header {
	grid-area: nav;
	background: #3ebfff;
}
.hero {
	grid-area: header;
	background: url(./images/mobile/image-header.jpg) no-repeat center
		bottom/cover;
}

.egg {
	grid-area: egg;
}
.egg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.egg-info {
	grid-area: egg-info;
	background-color: darkkhaki;
}
.pink {
	grid-area: pink;
}
.pink img {
	width: 100%;
	height: 100%;
}
.pink-info {
	grid-area: pink-info;
}
.cherry {
	grid-area: cherry;
	background: url(./images/mobile/image-graphic-design.jpg) no-repeat center
		center/cover;

}
.orange {
	grid-area: orange;
	background: url(./images/mobile/image-photography.jpg) no-repeat center
		center/cover;
}
.testimonials {
	grid-area: testimonials;
	background-color: lightseagreen;
}
.milk {
	grid-area: milk;
	background: url(./images/mobile/image-gallery-milkbottles.jpg) no-repeat
		center center/cover;
}
.sliced-orange {
	grid-area: sliced-orange;
	background: url(./images/mobile/image-gallery-orange.jpg) no-repeat center
		center/cover;
}
.ice-cream {
	grid-area: ice-cream;
	background: url(./images/mobile/image-gallery-cone.jpg) no-repeat center
		center/cover;
}
.sugar {
	grid-area: sugar;
	background: url(./images/mobile/image-gallery-sugar-cubes.jpg) no-repeat
		center center/cover;
}
footer {
	grid-area: footer;
	background-color: lightsalmon;
}
.background {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.background.second {
	display: none;
}
.page-container div {
	background-size: cover;
}

.container {
	padding: 0 15px;
}

.nav {
	display: flex;
	flex-direction: row;
	min-height: 60px;
	justify-content: space-between;
	position: relative;
	align-items: center;
}
.nav img {
	height: 30px;
}
nav {
	display: none;
}
span {
	display: flex;
	width: 29px;
	height: 2px;
	margin-bottom: 5px;
	position: relative;
	background-color: #fff;
	border-radius: 3px;
	z-index: 1;
}
.menu {
	list-style-type: none;
	position: absolute;
	min-width: 100%;
	top: 10vh;
	left: 0;
	padding: 25px 50px;
	padding-bottom: 40px;
	text-align: center;
	background-color: whitesmoke;
	display: none;
}
.menu::before {
	content: "";
	display: block;
	position: absolute;
	right: 0%;
	bottom: 100%;
	width: 1.5rem;
	height: 1.5rem;
	background-color: whitesmoke;
	clip-path: polygon(100% 0, 100% 100%, 0 100%);
}
.menu li {
	margin-top: 35px;
}
.menu li:first-of-type {
	margin-top: 10px;
}

.menu li a {
	color: hsl(232, 10%, 55%);
	text-decoration: none;
	cursor: pointer;
	transition: text-decoration 250ms, border 250ms;
}
.menu li a:hover,
.menu li a:focus,
.menu li a:active {
	text-decoration: underline;
}
.menu .button {
	text-transform: uppercase;
	background-color: hsl(51, 100%, 49%);
	border-radius: 40px;
	color: #333;
	padding: 8px 16px;
	font-family: Fraunces;
	font-weight: 700;
	margin-bottom: 0;
	border: 1px solid transparent;
}
.menu .button:hover,
.menu .button:focus,
.menu .button:active {
	text-decoration: none;
	background-color: white;
	border: 1px solid hsl(232, 10%, 55%);
}
.menuToggle input {
	position: absolute;
	right: -2px;
	top: 15px;
	width: 35px;
	height: 35px;
	z-index: 2;
	cursor: pointer;
	opacity: 0;
}
.menuToggle input:checked ~ .menu {
	display: block;
}
.hero.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.hero.container h1 {
	margin-top: 80px;
	color: whitesmoke;
	text-transform: uppercase;
	font-family: Fraunces;
	font-size: 2.5rem;
	text-align: center;
}
.hero.container img {
	margin-top: 60px;
}
.egg-info,
.pink-info {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 25px;
	text-align: center;
}
.card-title {
	font-family: Fraunces;
	font-size: 2rem;
	color: hsl(212, 27%, 19%);
	margin-bottom: 30px;
}
.card-text {
	margin-bottom: 50px;
	color: hsl(232, 10%, 55%);
	line-height: 1.8;
	font-weight: 600;
}

.cta {
	text-transform: uppercase;
	color: hsl(212, 27%, 19%);
	font-family: Fraunces;
	text-decoration: none;
	position: relative;
}
.after-link {
	width: 110%;
	height: 7px;
	border-radius: 10px;
	transition: transform 250ms, background 250ms;
	position: absolute;
	bottom: -4px;
	left: -5px; 
}
.cta.yellow .after-link {
	background: hsla(51, 100%, 49%, 0.3)
}
.cta.pink .after-link {
	background:hsla(7, 99%, 70%, 0.3); 
}
.orange,
.cherry {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
}
.cherry .card-text,
.cherry .card-title {
	color: hsl(167, 40%, 24%);
}
.orange .card-text,
.orange .card-title {
	color: hsl(198, 62%, 26%);
}

.testimonials {
	background-color: hsl(113, 100%, 95%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 15px;

}

.upper-container {
	max-width: 500px;
	font-size: 1rem;
}
.testimonials {
	padding-top: 50px;
	padding-bottom: 50px; 
}

.testimonials h3 {
	color: hsl(210, 4%, 67%);
	font-family: Fraunces;
	text-transform: uppercase;
	letter-spacing: 4px;
	
}
.avatar {
	border-radius: 50%;
	height: 3.1rem;
	margin-top: 50px;
}
.testimonials p {
	color: hsl(213, 9%, 39%);
	margin-top: 20px;
	line-height: 1.8;
}
.testimonials .avatar-name {
	font-family: Fraunces;
	font-weight: 900;
	color: hsl(212, 27%, 19%);
	margin-top: 20px;
}
.testimonials .role {
	color: hsl(232, 10%, 55%);
	margin-top: 0px;
}
/* Footer */
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	background-color: hsl(168, 34%, 61%);
}
.footer img {
	margin-top: 50px;
	height: 1.87rem;
}
.footer-links {
	margin-top: 50px;
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.footer-links a:hover,
.footer-links a:active,
.footer-links a:focus {
	text-decoration: underline;
}
.footer-links a {
	color: hsl(167, 40%, 30%);
	text-decoration: none;
	font-size: 1rem;
}
.media-icons {
	margin-top: 45px;
}
.media-icons a {
	margin-left: 20px;
	color: #2C7566;
	font-size: 1.3rem;
}

@media (min-width: 768px) {
	.page-container {
		grid-template:
			"nav nav nav nav" 60px
			"header header header header" calc(100vh - 60px)
			"egg-info egg-info egg egg" 600px
			"pink pink pink-info pink-info" 600px
			"cherry cherry orange orange"  600px
			"testimonials testimonials testimonials testimonials" 600px
			"milk sliced-orange ice-cream sugar" auto
			"footer footer footer footer" 300px / 1fr 1fr 1fr 1fr;
	}
	.hero {
		background: url(./images/desktop/image-header.jpg) no-repeat center bottom/cover;
	}
	.background.first {
		display: none;
	}
	.background.second {
		display: inline-block;
	}
	.egg-info .card-text,
	.pink-info .card-text {
		text-align: left;
	}
	.cherry {
		background: url(./images/desktop/image-graphic-design.jpg) no-repeat center
		center/cover;
	}
	.orange {
		background: url(./images/desktop/image-photography.jpg) no-repeat center
		center/cover;
	}
	.orange .upper-container {
		padding: 0 61px;
	}
	.testimonials-container {
		display: flex; 
	}
	.testimonials .upper-container {
		max-width: 90%;
	}
	.first-test, .second-test, .third-test {
		margin-left: 25px;
	}
	.first-test {
		margin-left: 0;
	}
	.avatar {
		margin-top: 60px;
	}
	.testimonials-container p {
		margin-top: 40px;
	}
	.testimonials-container .avatar-name {
		margin-top: 45px;
	}
	footer .footer-links{
		justify-content: center;
	}
	.footer-links a {
		margin-left: 50px; 
	}
	.footer-links a:first-child {
		margin-left: 0;
	}
	.menuToggle {
		display: none;
	}
	nav {
		display: inline-block;
	}
	.nav {
		padding: 20px 30px;
	}
	.nav img {
		height: 20px;
	}
	nav a {
		text-decoration: none;
		color: whitesmoke;
		margin-right: 15px; 
	}
	nav a:hover {
		text-decoration: underline;
	}
	nav .button {
		background-color: whitesmoke;
		color: #333; 
		font-family: Fraunces;
		padding: 8px 15px;
		border-radius: 20px; 
		text-transform: uppercase;
		font-size: 14px;
		margin-right: 0;
		transition: color 250ms, background-color 250ms;
	}
	nav .button:hover {
		color: whitesmoke;
		background-color: #7bd2fde5;
		text-decoration: none;
	}
	.cta.pink:hover .after-link{
		background: hsl(7, 99%, 70%);
		transform: translateY(5px);
	}
	.cta.yellow:hover .after-link {
		background: hsl(51, 100%, 49%);
		transform: translateY(5px);
	}
}  