@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: "Kumbh Sans";
    font-size: 12px;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}
.upper-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: whitesmoke;
    width: 330px;
    /* height: 560px; */
    margin-top: 40px; 
    border-radius: 20px;
}
.logo-container .logo {
    position: relative; 
    top: -108px;
    left: 20px;
}
.logo-container .shadow-logo {
    position: absolute; 
    top: 150px;
    right: 66px;
}
.logo-container {
    height: 140px; 
}
.title {
    text-align: center;
    color: #222;
    /* height: 35px;  */
}
.title h1 {
    font-size: 2.2rem; 
}
/* Styling the questions/answer section */
.questions-section {
    /* background-color: red; */
    /* height: calc(560px - 175px); */
    /* text-align: center; */
    margin: 0 18px;
    padding-top: 40px;  
}
.question {
    font-size: .9rem;
    color: hsl(237, 12%, 33%);
}
label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.answer {
    padding: 15px 20px 0 0;
    color: hsl(240, 6%, 50%);
    line-height: 1.5;
    font-size: .8rem; 
}
.question-container {
    padding: 20px 0; 
}

hr {
    border: 1px solid hsl(240, 5%, 91%);
}

/* Making the show/hide effect */
input[type="checkbox"] {
    position: absolute;
    left: -999rem;
}
.answer {
    display: none;
    /* visibility: hidden; */
}
input[type="checkbox"]:checked ~ .answer {
    display: block;
    /* visibility: visible; */
}
.arrow {
    transition: transform 200ms;
}
input[type="checkbox"]:checked ~ label > .arrow {
    transform: rotate(180deg);
}
