@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: "Kumbh Sans";
    font-size: 12px;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}
.upper-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: whitesmoke;
    width: 330px;
    /* height: 560px; */
    margin-top: 40px; 
    border-radius: 20px;
}
.logo-container .logo {
    position: relative;
    background-image: url(./images/illustration-woman-online-mobile.svg);
    width: 266px;
    height: 196px;
    top: -108px;
    left: 20px;
}
.logo-container .shadow-logo {
    background-image: url(./images/bg-pattern-mobile.svg);
    width: 240px;
    height: 104px;
    position: relative; 
    top: -190px;
    left: 45px;
}
.logo-container {
    height: 110px; 
}
.title {
    text-align: center;
    color: #222;
    /* height: 35px;  */
}
.title h1 {
    font-size: 2.2rem; 
}
/* Styling the questions/answer section */
.questions-section {
    margin: 0 18px;
    padding-top: 40px;  
}
.question {
    font-size: .9rem;
    color: hsl(237, 12%, 33%);
    transition: font-weight 200ms;
    
}
label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.answer {
    padding: 0px 20px 0 0;
    color: hsl(240, 6%, 50%);
    line-height: 1.5;
    font-size: .8rem; 
}
.question-container {
    margin: 10px 0;
}

hr {
    border: 1px solid hsl(240, 5%, 91%);
}

/* Making the show/hide effect */
input[type="checkbox"] {
    position: absolute;
    left: -999rem;
}
.answer {
    display: none;
}
input[type="checkbox"]:checked ~ .answer {
    display: block;
}
.arrow {
    transition: transform 200ms;
}
input[type="checkbox"]:checked ~ label > .arrow {
    transform: rotate(180deg);
}
input[type="checkbox"]:checked ~ label > .question {
    font-weight: 700;
}
label:hover {
    cursor:pointer;
}

/* @media (min-width: 1000px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 
        width: 70vw; 
        max-width: 80vw;
    } 
} */